@font-face {
  font-family: 'AUTHENTICSans';
  src: url('fonts/authentic-woff/AUTHENTICSans-90.woff');
}

@font-face {
  font-family: 'FT88-School';
  src: url('fonts/FT88-School.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*--------------------------------------------------------------*/
/*THE FUN STARTS HERE*/

#credit {
  font-size: 8pt;
  position: absolute;
  bottom: 10px;
}

body {
  background-color: white;
  font-size: 11pt;
  font-family: 'AUTHENTICSans', 'Arial Narrow', sans-serif;
  letter-spacing: 0.25px;
  line-height: 1.5em;
  color: #333;
  margin: 0;
  cursor: default;
}

::selection {
  background: lavenderblush;
  color: #333;
}

/*--------------------------------------------------------------*/
/*DEFINE SECTIONS & CENTERING*/


nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 30px 20px 20px 20px;

  /* overflow: auto; */
}

#logo,
#logo-m {
  font-size: 12pt;
  font-family: 'FT88-School';

}

#logo {
  display: initial;
  opacity: 1;
}

#logo-m {
  opacity: 0;
  height: 0;
  display: flex;
}

main {
  padding-left: 300px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 120px;

  margin-left: 0;
  margin-right: auto;

  max-width: 840px;
}

#sidebar-button-mobile {
  /* Should be flex in mobile mode */
  display: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 72px;
  padding-right: 40px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  cursor: pointer;
}

.aboutlinks {
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  width: 100%;
  display: grid;
  margin: 16px 0;
  border-bottom: 1px solid #333;
  width: fit-content;
  line-height: 12pt;
}

#aboutcontainer {
  border: none;
  margin-top: 40px;
}


/* Remove sidebar when too narrow */
@media screen and (max-width: 840px) {


  main {
    /* Make some space for topbar */
    margin-top: 120px;
  }


  #aboutcontainer {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    padding: 8px 10px;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;

  }

  nav {
    padding: 0px;
    right: 0;
    bottom: auto;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }


  main {
    padding: 0px 20px 80px 20px;
    margin-left: auto;
    margin-right: auto;

  }

  .sidebar-bio {
    display: none;
  }

  .sidebar-links {
    line-height: 2em;
  }

  #sidebar {
    display: none;
  }

  #sidebar.sidebarOpen {
    display: initial;
  }

  #sidebar-button-mobile {
    display: flex;
  }

  #logo {
    opacity: 0;
    padding: 0px;
    position: absolute;
    height: 0px;
  }

  #logo-m {
    display: initial;
    /* font-size: 20px; */
    line-height: 24px;
    opacity: 1;

  }

  .aboutlinks {
    border: none;
    display: inline;
    margin: 8px 0;
    padding-left: 2%;
    padding-right: 2%;
  }

}







/*--------------------------------------------------------------*/
/*HYPERLINKS */

a {
  text-decoration: none;
  color: inherit;
  color: #333;
}

a:hover {
  cursor: help;
  opacity: 0.8;
}


/*--------------------------------------------------------------*/
/*HEADER STYLES*/

h2 {
  font-size: 11pt;
  font-family: 'AUTHENTICSans', 'Arial';
  font-weight: normal;
  line-height: 1.5;
  max-width: 600px;
  margin-top: 0px;
}

h2 a {
  border-bottom: 1px solid #333;

}

h3 {
  font-size: 14pt;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  /* font-family: 'Courier Prime', 'Courier', monospace; */
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  margin-top: 0px;

}





/*--------------------------------------------------------------*/
/*SECTION: CONTENT LIGHTBOX*/

#content {
  max-width: 620px;
}

#content div {
  margin-top: 20px;
}


#content img {
  height: auto;
  width: 100%;
  display: block;
  margin: 16px 0 16px 0;
}

#content a {
  border-bottom: 1px solid #333;
}

#content>*:first-child {
  margin-top: 0;
}

/*--------------------------------------------------------------*/
/*SECTION: WORK THUMBNAILS*/

#work-stuff {
  display: flex;
  flex-wrap: wrap;
}

#work-stuff a {
  width: 100%;
  margin-bottom: 24px;
  height: 300px;
}

#work-stuff a .image-tile {
  height: 240px;
  background-size: cover;
  background-position: center;
}

#work-stuff a figcaption {
  margin-top: 10px;
  font-size: 10.5pt;
  line-height: 1.2rem;
  color: #333;
  text-align: center;
  text-transform: lowercase;
  font-family: 'AUTHENTICSans', 'Arial Narrow', 'Arial', sans-serif;
}

#work-stuff a {
  width: 50%;
  height: 240px;
}

#work-stuff a * {
  margin-left: 2%;
  margin-right: 2%;

}

#work-stuff a .image-tile {
  height: 200px;
}

/* #work-stuff a figcaption {
  text-align: left;
} */

/*--------------------------------------------------------------*/

/*RESPONSIVE BIT -- even bigger screen*/

/*--------------------------------------------------------------*/

@media screen and (min-width: 1000px) {

  #work-stuff a {
    width: 33.333%;
  }
}