@font-face {
  font-family: 'AUTHENTICSans';
  src: url('fonts/authentic-woff/AUTHENTICSans-90.woff');
}

@font-face {
  font-family: 'RightSerif';
  src: url('fonts/PPRightSerifMono-Regular.otf');
}

@font-face {
  font-family: 'FT88-School';
  src: url('fonts/FT88-School.otf');
}

/*--------------------------------------------------------------*/
/*AT LARGEST SIZE */
/*--------------------------------------------------------------*/
ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
}


#pubnote {
  margin-left: 10px;
  font-size: 10pt;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  text-transform: lowercase;
}



.extlink {
  font-family: 'RightSerif';
  font-size: 12pt;
  text-decoration: none;
  line-height: 2rem;

}

.arrow {
  background-image: url("https://kaaathy.com/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 11px;
  width: 11px;
  opacity: 0.8;
  margin: 3px 5px !important;
}

#highlight {
  background-color: yellow;
  font-family: 'RightSerif';
  letter-spacing: 0;
  padding: 2px;
  font-size: 11pt;
}

#aboutpic {
  width: 240px;
  mix-blend-mode: multiply;

}



#app {
  cursor: crosshair;
}

body {
  background-color: oldlace;

  font-size: 10pt;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #333;
  margin: 0;
  cursor: default;
}


::selection {
  color: cornflowerblue;
}

/*DEFINE SECTIONS & CENTERING*/

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 30px 20px 20px 20px;
  border-right: 1px dotted #333;
}

#logo,
#logo-m {
  font-size: 11pt;
  text-transform: lowercase;
  font-family: 'FT88-School', 'Courier Prime', monospace;
}

#logo {
  display: initial;
  opacity: 1;
}

#logo-m {
  opacity: 0;
  height: 0;
  display: flex;
}

main {
  padding-left: 270px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 120px;
  margin-left: 0;
  margin-right: auto;
  max-width: 840px;
}

#sidebar-button-mobile {
  /* Should be flex in mobile mode */
  display: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 72px;
  padding-right: 40px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  cursor: pointer;
}

.aboutlinks {
  font-family: 'RightSerif', 'Arial Narrow', monospace;
  width: 100%;
  display: grid;
  margin: 16px 0;
  width: fit-content;
  line-height: 12pt;
  font-size: 11pt;

}

#aboutcontainer {
  border: none;
  margin-top: 40px;

}



#credit {
  font-size: 8pt;
}


#aboutcontainer a:active,
h2 a:active,
#content a:active {
  color: cornflowerblue;
  animation: 0.2s color;
}

#work-stuff a .image-tile {
  height: 300px;
}



/*--------------------------------------------------------------*/
/*Between 700 and 900*/
/*--------------------------------------------------------------*/

@media screen and (min-width: 900px) {


  #work-stuff a {
    max-width: 45%;
    margin-left: 1%;
    margin-right: 1%;
  }

}



/*--------------------------------------------------------------*/
/*UNDER 700PX*/
/*--------------------------------------------------------------*/

/* Remove sidebar when too narrow */
@media screen and (max-width: 700px) {


  #aboutcontainer a:active {
    border-bottom: none;
  }

  marquee {
    margin: 0px 20px;
  }

  main {
    /* Make some space for topbar */
    margin-top: 50px;
  }


  #aboutcontainer {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    padding: 8px 12px;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;

  }

  nav {
    padding: 0px;
    right: 0;
    bottom: auto;
    padding-top: 10px;

    position: sticky;
    top: -40px;
    background-color: oldlace;

    width: 100%;
    box-sizing: border-box;
    border: none;
    z-index: 1000;
  }





  main {
    padding: 0px 12px 0px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

  }

  .sidebar-bio {
    display: none;
  }

  .sidebar-links {
    line-height: 2em;
  }

  #sidebar {
    display: none;
  }

  #sidebar.sidebarOpen {
    display: initial;
  }

  #sidebar-button-mobile {
    display: flex;
  }

  #logo {
    opacity: 0;
    padding: 0px;
    position: absolute;
    height: 0px;
  }

  #logo-m {
    display: initial;
    line-height: 20px;
    opacity: 1;

  }

  .aboutlinks {
    border: none;
    display: inline;
    margin: 8px 0;
    padding-left: 2%;
    padding-right: 2%;

  }

}

/*HYPERLINKS */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: help;
  opacity: 0.8;
}


/*--------------------------------------------------------------*/
/*HEADER STYLES*/

h2 {

  font-size: 10pt;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  line-height: 1.6;

  font-weight: normal;
  max-width: 600px;
  margin-top: 0px;
}

h2 a {
  border-bottom: 1px solid #333;

}

h2 h3 {
  line-height: 1;
}

h3 {
  font-size: 18pt;
  font-weight: normal;
  font-family: 'RightSerif', 'Arial Narrow', 'Arial', monospace;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  margin-top: 0px;

}


/*SECTION: CONTENT LIGHTBOX*/

#content {
  /* max-width: 620px; */
  max-width: 560px;
}

#content div {
  margin-top: 20px;
}


#content img {
  height: auto;
  width: 100%;
  display: block;
  margin: 16px 0 16px 0;
}

h2 a,
#content a {
  text-decoration: underline;
  border-bottom: none;
}

/* h2 a,
#content a {
  font-family: 'RightSerif';

} */


#content>*:first-child {
  margin-top: 0;
}

/*SECTION: WORK THUMBNAILS*/

#work-stuff {
  display: flex;
  flex-wrap: wrap;
}

#work-stuff a {
  width: 100%;
  margin-bottom: 24px;
}

#work-stuff a .image-tile {
  background-size: cover;
  background-position: center;

}

#work-stuff a figcaption {
  margin-top: 10px;
  font-size: 11pt;
  line-height: 1.2rem;
  text-align: left;
  font-family: 'RightSerif', monospace;
  text-transform: lowercase;
  letter-spacing: 0px;
  display: flex;
  flex-flow: row;
}

#work-stuff a {
  width: 100%;
}

#work-stuff a * {
  margin-left: 0%;
  margin-right: 0%;

}


/*--------------------------------------------------------------*/

/*RESPONSIVE BIT -- MOBILE UNDER 520 */

/*--------------------------------------------------------------*/

@media screen and (max-width: 520px) {

  body,
  h2,
  .aboutlinks,
  #work-stuff a figcaption {
    /* font-size: 13.5pt; */
    font-size: 12pt;
  }

  .extlink {
    font-size: 13pt;
  }

  #work-stuff a {
    width: 100%;
  }

  #work-stuff a * {
    margin: 0px;
  }


}