@font-face {
  font-family: 'AUTHENTICSans';
  src: url('fonts/authentic-woff/AUTHENTICSans-90.woff');
}

@font-face {
  font-family: 'RightSerif';
  src: url('fonts/PPRightSerifMono-Regular.otf');
}

@font-face {
  font-family: 'FT88-School';
  src: url('fonts/FT88-School.otf');
}

/*--------------------------------------------------------------*/
/*AT LARGEST SIZE */
/*--------------------------------------------------------------*/

#highlight {
  background-color: yellow;
  padding: 4px;
}

#aboutpic {
  width: 300px;
  /* border-radius: 8px; */
  border: 1px solid cornflowerblue;
  box-shadow: 1px 1px 4px cornflowerblue;
}

@media screen and (min-width: 1000px) {



  #work-stuff a {
    /* max-width: 33.33%; */
    max-width: 48%;

  }
}

/*--------------------------------------------------------------*/
/*Between 840 and 1000*/
/*--------------------------------------------------------------*/

#app {
  cursor: crosshair;
}

body {
  background-color: oldlace;
  font-size: 11pt;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  letter-spacing: 0.25px;
  line-height: 1.5em;
  color: #333;
  margin: 0;
  cursor: default;
}

::selection {
  /* background: lavenderblush; */
  color: darkkhaki;
}

/*DEFINE SECTIONS & CENTERING*/

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 30px 20px 20px 20px;
  border-right: 1px dotted #333;
}

#logo,
#logo-m {
  font-size: 12pt;
  text-transform: lowercase;
  font-family: 'FT88-School', 'Courier Prime', monospace;
}

#logo {
  display: initial;
  opacity: 1;
}

#logo-m {
  opacity: 0;
  height: 0;
  display: flex;
}

main {
  padding-left: 270px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 120px;
  margin-left: 0;
  margin-right: auto;
  max-width: 840px;
}

#sidebar-button-mobile {
  /* Should be flex in mobile mode */
  display: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 72px;
  padding-right: 40px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  cursor: pointer;
}

.aboutlinks {
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  width: 100%;
  display: grid;
  margin: 16px 0;
  border-bottom: 1px solid #333;
  width: fit-content;
  line-height: 12pt;
}

#aboutcontainer {
  border: none;
  margin-top: 40px;
}


#credit {
  font-size: 8pt;
  /* position: fixed;
  bottom: 6px;
  z-index: -10; */
}


#aboutcontainer a:active,
h2 a:active,
#content a:active {
  color: cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
  animation: 0.2s color;
}

/*--------------------------------------------------------------*/
/*UNDER 840PX*/
/*--------------------------------------------------------------*/

/* Remove sidebar when too narrow */
@media screen and (max-width: 840px) {

  #aboutcontainer a:active {
    border-bottom: none;
  }

  marquee {
    margin: 0px 20px;
  }

  main {
    /* Make some space for topbar */
    margin-top: 120px;
  }


  #aboutcontainer {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    padding: 8px 10px;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;

  }

  nav {
    padding: 0px;
    right: 0;
    bottom: auto;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }


  main {
    padding: 0px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

  }

  .sidebar-bio {
    display: none;
  }

  .sidebar-links {
    line-height: 2em;
  }

  #sidebar {
    display: none;
  }

  #sidebar.sidebarOpen {
    display: initial;
  }

  #sidebar-button-mobile {
    display: flex;
  }

  #logo {
    opacity: 0;
    padding: 0px;
    position: absolute;
    height: 0px;
  }

  #logo-m {
    display: initial;
    /* font-size: 20px; */
    line-height: 24px;
    opacity: 1;

  }

  .aboutlinks {
    border: none;
    display: inline;
    margin: 8px 0;
    padding-left: 2%;
    padding-right: 2%;
  }

}

/*HYPERLINKS */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: help;
  opacity: 0.8;
}


/*--------------------------------------------------------------*/
/*HEADER STYLES*/

h2 {
  font-size: 11pt;
  font-family: 'AUTHENTICSans', 'Arial';
  font-weight: normal;
  line-height: 1.5;
  max-width: 600px;
  margin-top: 0px;
}

h2 a {
  border-bottom: 1px solid #333;

}

h2 h3 {
  line-height: 1;
}

h3 {
  /* font-size: 14pt; */
  /* font-family: 'AUTHENTICSans', 'Arial', sans-serif; */
  /* text-transform: lowercase;*/
  font-size: 18pt;
  font-weight: normal;
  font-family: 'RightSerif', monospace;
  text-transform: uppercase;
  /* letter-spacing: 0px; */
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  margin-top: 0px;

}


/*SECTION: CONTENT LIGHTBOX*/

#content {
  max-width: 620px;
}

#content div {
  margin-top: 20px;
}


#content img {
  height: auto;
  width: 100%;
  display: block;
  margin: 16px 0 16px 0;
}

#content a {
  border-bottom: 1px solid #333;
}

#content>*:first-child {
  margin-top: 0;
}

/*SECTION: WORK THUMBNAILS*/

#work-stuff {
  display: flex;
  flex-wrap: wrap;
}

#work-stuff a {
  width: 100%;
  margin-bottom: 24px;
}

#work-stuff a .image-tile {
  background-size: cover;
  background-position: center;
  /* border: 1px solid cornflowerblue; */
  box-shadow: 1px 1px 4px cornflowerblue;

  /* border-radius: 8px; */
  /* border: 1px solid orchid;
  box-shadow: 1px 1px 4px orchid; */
}

#work-stuff a figcaption {
  margin-top: 10px;
  font-size: 11pt;
  line-height: 1.2rem;
  text-align: left;
  font-family: 'AUTHENTICSans', 'Arial', sans-serif;
  /* font-family: 'RightSerif', monospace; */
  text-transform: lowercase;
  letter-spacing: 0px;
}

#work-stuff a {
  width: 50%;
  /* height: 250px; */
}

#work-stuff a * {
  margin-left: 3%;
  margin-right: 3%;

}

#work-stuff a .image-tile {
  height: 260px;
}

/*--------------------------------------------------------------*/

/*RESPONSIVE BIT -- MOBILE UNDER 520 */

/*--------------------------------------------------------------*/

@media screen and (max-width: 520px) {



  #work-stuff a {
    width: 100%;
    height: 320px;
  }

  #work-stuff a * {
    margin: 0px;
  }

  #work-stuff a .image-tile {
    height: 260px;

  }
}