    @font-face {
    src: url(fonts/neuton/Neuton-Regular.ttf);
    font-family: "Neuton";
    font-weight: 300;}
    
    @font-face {
    src: url(fonts/neuton/Neuton-Bold.ttf);
    font-family: "Neuton";
    font-weight: 500;}
    
    @font-face {
    src: url(fonts/neuton/Neuton-Extrabold.ttf);
    font-family: "Neuton";
    font-weight: 700;}
    
/*    Alpha*/

    @font-face {
    src: url(fonts/alpha/AlphaReg.otf);
    font-family: "Alpha";
    font-weight: normal;}
    
    
    body {
    margin-top:45px;
    }

    p {
    font-family: "Neuton";
    font-weight:500px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    padding:10px auto;

    }

    span {
    font-family: "Neuton";
    font-weight:700;
    font-size:36px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
        

    