@font-face {
    font-family: ftserif;
    src: url("FT88-Serif.otf");
}


body {
    margin: 0px !important;
    overflow: hidden;
    cursor: grab !important;

}

#label {
    font-family: ftserif, "arial", monospace;
    color: darkgreen;
    font-size: 10px;
    position: fixed;
    top: 0px;
    left: 10px;
    z-index: 1000;
}

canvas {
    position: absolute;

}