body {
    background:rosybrown;
    overflow: hidden;
    color:white;

}

p {
    font-family:'Arial';
    color:white;
}

#text-container{
    z-index: 401;
    display:flex;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;


}

#mineText{
    /* font-size:75px; */
    font-size:16px;
    text-align: center;
    line-height: 1em;
    /* letter-spacing: 1px; */
    position:fixed;top:0px;
    background-color: rgba(47, 79, 79,0.5);
    color:whitesmoke;
    padding:4px;
    border-radius: 8px;
    max-width:800px;
}

#locText{
    position:fixed;bottom:0px;
    background-color: rgba(47, 79, 79,0.5);
    color:whitesmoke;
    padding:4px;
    border-radius: 8px;
    font-size:16px;
    text-align: center;


}

#scrollText{
    font-size:75px;text-align:center;
    line-height: 2em;
    font-family:'DotGothic16';
    display:flex;
    align-items: center;

}

.cloud {
    height:300px;
    filter: drop-shadow(30px 10px 30px rgba(0,0,0,0.5));
}
