body {
  background-size: cover;
  background-color: black;
  /* font-family: 'courier prime',courier, monospace; */
  font-family: arial;
  user-select: none;
}


a {
  text-decoration: none;
  color:white;
}



#poem {
  top:0px;
  left:0px;
  border: 40px solid green;
}

div {
  position: fixed;
  text-align: center;
  line-height: 40px;
}

#a {
  width:100%;
  top:0px;
  left:0px;
}

#b {
  right:-65px;
  top:50%;
  transform: rotate(90deg);
  transform-origin: center;
}

#c{
  bottom:0px;
  left:0px;
  width:100%;

}

#d{
  left:-55px;
  top:50%;
  transform: rotate(270deg);
  transform-origin: center;

}


/* @media screen and (max-width: 500px){
  body{
    background-size: auto;
  }
} */
