
@font-face {
  font-family: Compagnon Roman;
  src: url(../fonts/Compagnon-Roman.otf);
}


@font-face {
  font-family: Compagnon Italic;
  src: url(../fonts/Compagnon-LightItalic.otf);
}


@font-face {
  font-family: Compagnon Light;
  src: url(../fonts/Compagnon-Light.otf);
}


@font-face {
  font-family: Compagnon Bold;
  src: url(../fonts/Compagnon-Bold.otf);
}

html, body{min-height:100%;}
body{height:100vh;}


@media screen and (min-width: 0px){


body {
  background-color: #fbfcf5;
  background-image: linear-gradient(#fbfcf5, #fbfcf5, #deffe4);
  background-size: cover;

  margin: 0px!important;
  line-height: 1.75;
  color: #455347;

  background-attachment: fixed;

  }

section{
  width:100%;
  margin: auto;
}

#fictionmaker{
  width:100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 140px;

}

#buttoncontainer{
  position: fixed;
  bottom: 0px;
  padding-bottom: 40px;
  text-align: center;

}


#fiction, #headline {
  line-height: 1.75;
  padding: 0px 40px 20px 50px;
  text-align: left;
}

#fiction{
  font-size: 18px;
  font-family: Courier, monospace;

  }

h2 {
  font-size: 24px;
} 

#headline {
 text-decoration: underline;
 font-family: 'Compagnon Italic';
}

button {
  font-size: 20px;
  font-family: 'Compagnon Italic';
  font-weight: bold;
  color:#455347;
  
  background-color: #deffe4;
  border: 1px dotted #455347;
/*  box-shadow: 0px 0px 16px #455347;
*/  
  padding: 30px;
  width:80%;
  border-radius: 10px;
  box-shadow: 4px 4px 0px #455347;
  
  }



@media screen and (min-width: 600px){

  #fiction, #headline {
    padding: 0px 50px 10px 60px;
  }


  #fictionmaker{
     max-width: 600px;

  }

  #buttoncontainer{
    padding-bottom: 60px;
  }

  button{
    width:500px;
  }

@media screen and (min-width: 800px){





  
