/* CSS files add styling rules to your content */
@import url('https://cdn.glitch.me/f6a85cef-b2ef-4983-99f5-7ad28ec42489%2Fterminal-grotesque-webfont.woff2?v=1634599793779');

@import url('https://kaaathy.com/fonts/Avara-BoldItalic.otf');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
/*   font-family: 'terminal','space mono',monospace; */
/*   text-transform:uppercase;*/
  font-family: 'times',serif;
  text-transform:lowercase;
  letter-spacing:0.5px;
  font-size:100px;
  color:white;
  background-size: contain;
  background-position: center;
}

.caption {
  font-size:20px;
}

/* button {
  text-transform:uppercase;
  font-size:20px;
  padding:10px;
  border-radius:8px;
} */

#text {
  font-size: 100px;
  display:flex;
  align-items:center;
}

#colorName{
  text-align:center;
  font-size:20px;
}

#container{
  height:250px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
}

.black {
  background:black;

}

.blackText{
  color:black;
}

.sky {
  background:#87CFEB;

}

.cobalt {
  background:#0046AB;
}


.blue {
  background:blue;

}

.lapis {
  background:#26619C;
}

.ultra {
  background:#3F00FF;

}

.prussian {
  background:#003153;
}

/*
.navy {
  background:navy;

}
.cyan{
  background:cyan;
  color:black;
}
 */
