@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    margin: 0px !important;
}


#canvas {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
}

html {
    /*   background:black; */
    background: lightgray;
}